@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    /* - Weights: 200, 400, 600 */
}

body {
    background-color: hsla(210, 6%, 44%, 0.021);
    min-height: 100vh;
    align-content: center;
    color: var(--grey-400);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.wrapper {
    width: 90%;
    padding: 2rem 0;
    margin-inline: auto;
}


.title {
    font-weight: 200;
    font-size: 1.7rem;
    max-width: 400px;
    margin: 0 auto 20px;
}

.text {
    margin-bottom: 50px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 50px;
}

.title__bold {
    
    font-weight: 600;
    color: var(--grey-500);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: block;
    border-top: 4px solid;
    border-radius: 10px;
    box-shadow: 0 10px 20px hsla(210, 6%, 44%, 0.322);
    padding: 2rem;
    height: 250px;
    position: relative;
}

.card__img {
    display: block;
    width: 75px;
    height: 75px;
    object-fit: contain;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.card__one {
    border-top-color: var(--cyan);
}

.card__two {
    margin-bottom: 20px;
    border-top-color: var(--red);
}

.card__three {
    border-top-color: var(--orange);
}

.card__four {
    border-top-color: var(--blue);
}


@media screen and (min-width: 800px) {
    .wrapper {
        width: 100%;
        padding: 5rem 0;
    }

    .title {
        margin-inline: auto;
        font-size: 2rem;
    }
    
    .text {
        margin-inline: auto;
    }

    .cards {
        flex-direction: row;
        align-items: center;
        margin-inline: auto;
        gap: 30px;
        width: fit-content;
    }
    
    .card-container {
        max-width: 400px;
    }

    .card {
        min-width: 400px;
        max-width: 400px;
    }

    .card__img {
        bottom: 2rem;
    }

    .card__two {
        margin-bottom: 30px;
    }
    
}